<body>
        <div class="topnav" id="example10">
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
     
        </div>
        <header>
            <h1 id="example10">Tap Into Source</h1>
        </header>
      {{#each posts}}
      <h2>{{post_title}}</h2>
    <h2>{{post_content}}</h2>
      {{/each}}
    </body>
</html>